html {
  height: 100%;
}
body {
  background-image: url("../images/loginbg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

#Button3 {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}
.form
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.form *{
  margin-top: 25px;
}
#Button1{
  width: 180px;
  background-color: #808080;;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px;
}

#Button1:hover {
  background-color: #555;
}
#Button2{

  background-color: #808080;;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;

}
#Button2:hover {
  background-color: #555;
}

.logo{
text-align: center;
}

input.box{
  background-color: transparent;
  color: #333; 
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}
input.staffbutton{
  background-color: transparent;
  color: #333; 
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px;
}