body,
html {
  height: 100%;
  margin: 0;
}

.topnav {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #dad3d3;
}

.left img {
  height: 36.5px;
  width: 126.5px;
}
.left * {
  text-decoration: none;
}

.search {
  background-color: transparent;
  color: #333;
  border: 3px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
.active {
  color: white;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  margin: 0 15px;
  transition: color 0.3s ease;
  font-weight: bold;
}
.active:hover {
  color: #585240;
}

.links {
  justify-content: center;
  margin-top: 10px;
  flex-grow: 1;
}
.search-container {
  flex-grow: 7;
  margin-top: 7px;
  padding-left: 200px;
}
.left {
  flex-grow: 1;
}
.right {
  flex-grow: 1;
  margin-top: 7px;
  padding-left: 100px;
}

#Button1,
#btnSearch {
  background-color: #808080;
  padding: 10px;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#Button1 {
  transform: scale(0.85);
}

@media screen and (max-width: 600px) {
  .topnav {
    flex-direction: column;
  }
}

.book-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.bookrepeater .flex-item {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
  width: 200px;
  background-color: #fff;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
}

.bookrepeater .flex-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bookrepeater .flex-item img {
  max-width: 200px;
  height: 300px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.bookrepeater .flex-item h3 {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.bookrepeater .flex-item p {
  font-size: 14px;
  margin: 5px 0;
  color: #666;
}

.bookrepeater .flex-item:hover {
  transform: scale(1.1);
}

.bookrepeater .flex-item .purchase-button {
  display: none;
  margin-top: 10px;
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#Button1 {
  font-size: 14px;
  padding: 8px 10px;
}